<h1>Smart AC user list</h1>
  <% @users.each do |user| %>
    <li><%= user.email %> -
      <%= button_to user.active ? 'active' : 'inactive', users_path(user: {id: user.id, active: ! user.active}), method: 'patch', class: 'btn btn-primary' %>
    </li>
<% end %>
