<div id="<%= dom_id ac %>">
  <p>
    <strong>Serial number:</strong>
    <%= ac.serial_number %>
  </p>

  <p>
    <strong>Registration date:</strong>
    <%= ac.registration_date %>
  </p>

  <p>
    <strong>Firmware version:</strong>
    <%= ac.firmware_version %>
  </p>

</div>
