<div id="<%= dom_id ac %>">
  <p>
    <strong>Serial number:</strong>
    <span id="serial_number"><%= ac.serial_number %></span>
  </p>

  <p>
    <strong>Registration date:</strong>
    <span id="registration_number"><%= ac.registration_date %></span<
  </p>

  <p>
    <strong>Firmware version:</strong>
    <span id="firmware_version"><%= ac.firmware_version %></span>
  </p>

</div>
